*.trace
*.emu.out
*.mem
*.uart.golden
*.log
out/
xsim.dir/
*.jou
*.pb
*.wdb
xvlog.log
xelab.log
webtalk*

board/
*.code
*.kbt
eth_probe*.kla
mmio_probe.kla
unaligned_probe.kla
eth_probe*.mem
perf_dump.kla
perf_clear.kla
lvgl*.out
lvgl.ops.uniq
klausscc_opcodes*
